Workflow/organization-appeal.json
{
  "name": "Алгоритм: Организация обращения",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "organization-appeal",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "oa-webhook-0001",
      "name": "Webhook OrgAppeal",
      "webhookId": "organization-appeal-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ping-oa",
              "leftValue": "={{ $json.query?.ping || $json.body?.ping || ($json.body?.message === 'ping' ? '1' : '') }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        300
      ],
      "id": "oa-ping-if-0001",
      "name": "Ping?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: 'pong'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        520,
        100
      ],
      "id": "oa-ping-resp-0001",
      "name": "Ответ: pong"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-source-text",
              "leftValue": "={{ ($json.body?.text || '').trim().length > 0 ? '1' : '' }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1670,
        300
      ],
      "id": "oa-source-if-0001",
      "name": "Источник: текст?"
    },
    {
      "parameters": {
        "jsCode": "// Текст уже извлечён в браузере через JSZip (.docx → word/document.xml → text)\nconst body = $input.first().json.body || {};\nlet text = (body.text || '').trim();\n\nif (!text) {\n  return [{ json: { has_text: false, error: 'Пустой текст в запросе.' } }];\n}\n\nif (text.length < 20) {\n  return [{ json: { has_text: false, error: 'Слишком короткий текст из браузера (' + text.length + ' символов).' } }];\n}\n\nif (text.length > 15000) text = text.substring(0, 15000);\n\nreturn [{ json: { has_text: true, text: text, text_length: text.length, source: 'browser-jszip' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        100
      ],
      "id": "oa-text-body-0001",
      "name": "Текст из body"
    },
    {
      "parameters": {
        "jsCode": "// Валидация: убеждаемся что файл (binary) загружен\nconst item = $input.first();\nconst binary = item.binary;\n\nif (!binary || Object.keys(binary).length === 0) {\n  return [{ json: { valid: false, error: 'Файл не загружен. Прикрепите .docx или .pdf документ.' } }];\n}\n\nconst key = Object.keys(binary)[0];\nconst info = binary[key];\nconst fileName = info.fileName || 'unknown';\nconst mimeType = (info.mimeType || '').toLowerCase();\nconst fileSize = info.fileSize || 0;\n\nif (fileSize > 50 * 1024 * 1024) {\n  return [{ json: { valid: false, error: 'Файл слишком большой (максимум 50 МБ).' } }];\n}\n\nconst ext = (fileName.split('.').pop() || '').toLowerCase();\nconst allowed = ['docx', 'pdf'];\nif (!allowed.includes(ext)) {\n  return [{ json: { valid: false, error: 'Поддерживаются только .docx и .pdf файлы. Получен: .' + ext } }];\n}\n\nreturn [{ json: { valid: true, binaryKey: key, fileName, mimeType, fileSize }, binary: binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        500
      ],
      "id": "oa-validate-0001",
      "name": "Валидация файла"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid-oa",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2230,
        500
      ],
      "id": "oa-validate-if-0001",
      "name": "Файл валиден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, error: $json.error}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2510,
        700
      ],
      "id": "oa-error-file-0001",
      "name": "Ответ: ошибка файла"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://130.100.94.119:8055/extract",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $json.binaryKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2510,
        500
      ],
      "id": "oa-ocr-0001",
      "name": "OCR (text extraction)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nif (raw.error) {\n  return [{ json: { has_text: false, error: 'OCR-сервис недоступен: ' + JSON.stringify(raw.error) } }];\n}\n\nlet text = '';\nif (typeof raw === 'string') text = raw;\nelse if (raw.text) text = raw.text;\nelse if (raw.result && raw.result.text) text = raw.result.text;\nelse if (raw.data && raw.data.text) text = raw.data.text;\nelse if (raw.content) text = raw.content;\nelse if (raw.output) text = typeof raw.output === 'string' ? raw.output : JSON.stringify(raw.output);\n\ntext = (text || '').trim();\n\nif (text.length < 20) {\n  return [{ json: { has_text: false, error: 'OCR не смог распознать текст в документе (получено ' + text.length + ' символов).' } }];\n}\n\nif (text.length > 15000) text = text.substring(0, 15000);\n\nreturn [{ json: { has_text: true, text: text, text_length: text.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2790,
        500
      ],
      "id": "oa-extract-text-0001",
      "name": "Извлечь текст"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-text-oa",
              "leftValue": "={{ $json.has_text }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3070,
        300
      ],
      "id": "oa-text-if-0001",
      "name": "Текст найден?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.error, error: $json.error}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3070,
        500
      ],
      "id": "oa-error-ocr-0001",
      "name": "Ответ: OCR не распознал"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": ".",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — ассистент для извлечения данных из документов (служебных записок).\n\nЗадача: найди в тексте следующие 4 поля и выдай ИХ В ТОЧНО ТАКОМ ФОРМАТЕ:\n\nФИО: <фамилия имя отчество одной строкой>\nДата рождения: <дата в формате ДД.ММ.ГГГГ или 'не указано'>\nЛичный номер: <в формате ХХХ-ХХХ или 'не указан'>\nСНИЛС: <в формате ХХХ-ХХХ-ХХХ ХХ или 'не указан'>\n\nПравила:\n1. Выдавай РОВНО четыре строки в указанном формате. Никаких пояснений, заголовков, нумерации.\n2. ФИО — полное имя в порядке Фамилия Имя Отчество. Если только Ф+И — пиши так как нашёл.\n3. Дата рождения — нормализуй в ДД.ММ.ГГГГ. Если в тексте «1 января 1990» — пиши «01.01.1990». Если нет — «не указано».\n4. Личный номер имеет формат ХХХ-ХХХ (6 цифр через дефис). Может называться: «личный номер», «персональный номер», «номер сотрудника», «ID сотрудника». Если в тексте формат другой — приведи к ХХХ-ХХХ или ставь «не указан».\n5. СНИЛС имеет формат ХХХ-ХХХ-ХХХ ХХ (11 цифр: 3-3-3 через дефис, пробел, 2). Может называться: «СНИЛС», «страховой номер», «индивидуальный лицевой счёт». Если нет — «не указан».\n6. Если в документе несколько ФИО — бери того, чьё обращение оформляется (обычно первое или в заголовке).\n7. Никогда не выдумывай данные. Если поле не найдено — «не указано» или «не указан».\n\nПример правильного ответа (все поля есть):\nФИО: Иванов Иван Иванович\nДата рождения: 15.03.1985\nЛичный номер: 123-456\nСНИЛС: 123-456-789 01\n\nПример если что-то не найдено:\nФИО: Петров Пётр Петрович\nДата рождения: 22.07.1990\nЛичный номер: не указан\nСНИЛС: не указан\n\nТеперь извлеки данные из следующего документа:"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "timeout": 120000,
          "maxRetries": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3350,
        300
      ],
      "id": "oa-llm-extract-0001",
      "name": "LLM извлечь данные",
      "credentials": {
        "openAiApi": {
          "id": "Qwyuj8GrADL2wlnl",
          "name": "GigaChat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Парсим 4 поля из ответа LLM. Затем валидируем форматы.\ntry {\n  const raw = $input.first().json;\n  if (raw.error) {\n    return [{ json: { parsed_ok: false, error: 'GigaChat-LLM недоступен.' } }];\n  }\n\n  const text = (raw && raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text) || '';\n\n  // LLM мог вернуть валидный ответ, но пустой output (rate-limit, фильтр и т.п.)\n  if (!text) {\n    return [{ json: { parsed_ok: false, error: 'GigaChat-LLM вернул пустой ответ. Повторите запрос.' } }];\n  }\n\n  const reFio    = /ФИО\\s*[:\\-]\\s*(.+?)(?:\\n|$)/i;\n  const reBirth  = /Дата\\s+рождения\\s*[:\\-]\\s*(.+?)(?:\\n|$)/i;\n  const rePersonal = /(?:Личный\\s+номер|Персональный\\s+номер|Номер\\s+сотрудника)\\s*[:\\-]\\s*(.+?)(?:\\n|$)/i;\n  const reSnils  = /(?:СНИЛС|Страховой\\s+номер)\\s*[:\\-]\\s*(.+?)(?:\\n|$)/i;\n\n  const fioM    = text.match(reFio);\n  const birthM  = text.match(reBirth);\n  const persM   = text.match(rePersonal);\n  const snilsM  = text.match(reSnils);\n\n  let fio = fioM ? fioM[1].trim() : '';\n  let birth_date = birthM ? birthM[1].trim() : '';\n  let personal_number = persM ? persM[1].trim() : '';\n  let snils = snilsM ? snilsM[1].trim() : '';\n\n  // Чистка ФИО: убираем кавычки и финальные знаки препинания\n  fio = fio.replace(/^[\\\"«»''\\u201C\\u201D\\u00AB\\u00BB]+|[\\\"«»''\\u201C\\u201D\\u00AB\\u00BB]+$/g, '').trim();\n  fio = fio.replace(/[.,;:]+$/g, '').trim();\n  fio = fio.normalize('NFC');\n\n  // Унифицируем «не указано/не указан» как пустые значения\n  function isAbsent(v) {\n    if (!v) return true;\n    const lo = v.toLowerCase();\n    return lo.includes('не указан') || lo.includes('не указано') || lo.includes('не найден') || lo === '-' || lo === '—' || lo === 'нет';\n  }\n\n  if (isAbsent(fio))             fio = '';\n  if (isAbsent(birth_date))      birth_date = '';\n  if (isAbsent(personal_number)) personal_number = '';\n  if (isAbsent(snils))           snils = '';\n\n  // Валидация формата Личного номера ХХХ-ХХХ (6 цифр, дефис)\n  // Приводим: убираем пробелы, если есть только 6 цифр — добавим дефис\n  if (personal_number) {\n    const digits = personal_number.replace(/\\D/g, '');\n    if (digits.length === 6) {\n      personal_number = digits.slice(0, 3) + '-' + digits.slice(3);\n    } else if (!/^\\d{3}-\\d{3}$/.test(personal_number)) {\n      // Неверный формат — считаем что номер не указан\n      personal_number = '';\n    }\n  }\n\n  // Валидация формата СНИЛС ХХХ-ХХХ-ХХХ ХХ (11 цифр)\n  if (snils) {\n    const digits = snils.replace(/\\D/g, '');\n    if (digits.length === 11) {\n      snils = digits.slice(0, 3) + '-' + digits.slice(3, 6) + '-' + digits.slice(6, 9) + ' ' + digits.slice(9, 11);\n    } else if (!/^\\d{3}-\\d{3}-\\d{3}\\s\\d{2}$/.test(snils)) {\n      snils = '';\n    }\n  }\n\n  // SQL-safe ФИО — экранируем LIKE-метасимволы\n  const fioForSql = fio.replace(/\\\\/g, '\\\\\\\\').replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\n  return [{ json: {\n    parsed_ok: true,\n    fio: fio,\n    fio_for_sql: fioForSql,\n    birth_date: birth_date,\n    personal_number: personal_number,\n    snils: snils\n  }}];\n} catch (e) {\n  return [{ json: { parsed_ok: false, error: 'Ошибка парсинга ответа LLM: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3630,
        300
      ],
      "id": "oa-parse-data-0001",
      "name": "Парсинг данных"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-parsed-oa",
              "leftValue": "={{ $json.parsed_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3910,
        300
      ],
      "id": "oa-parsed-if-0001",
      "name": "Данные извлечены?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $('Парсинг данных').first().json.error || 'Не удалось извлечь данные.', error: $('Парсинг данных').first().json.error || 'Не удалось извлечь данные.'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3910,
        500
      ],
      "id": "oa-error-parse-0001",
      "name": "Ответ: данные не извлечены"
    },
    {
      "parameters": {
        "jsCode": "// ФАЗА 1: Идентификация служебной записки.\n// Проверяем обязательные поля по порядку.\nconst d = $json;\n\nlet step1 = { step: 1, name: 'Идентификация служебной записки' };\n\nif (!d.fio) {\n  step1.status = 'not_found';\n  step1.message = 'ФИО заявителя отсутствует, нужно предоставить данные';\n  return [{ json: { phase1_ok: false, step1: step1, ...d } }];\n}\n\nif (!d.birth_date) {\n  step1.status = 'not_found';\n  step1.message = 'Дата рождения заявителя отсутствует, нужно предоставить данные';\n  return [{ json: { phase1_ok: false, step1: step1, ...d } }];\n}\n\n// Достаточно одного из двух: Личный номер ИЛИ СНИЛС\nif (!d.personal_number && !d.snils) {\n  step1.status = 'not_found';\n  step1.message = 'Личный номер или СНИЛС заявителя отсутствует, нужно предоставить данные';\n  return [{ json: { phase1_ok: false, step1: step1, ...d } }];\n}\n\nstep1.status = 'ok';\nstep1.message = 'Служебная записка идентифицирована';\nreturn [{ json: { phase1_ok: true, step1: step1, ...d } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4190,
        300
      ],
      "id": "oa-phase1-0001",
      "name": "Фаза 1: проверка полей"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-phase1-ok",
              "leftValue": "={{ $json.phase1_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4470,
        300
      ],
      "id": "oa-phase1-if-0001",
      "name": "Фаза 1 OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.step1.message, extracted: {fio: $json.fio, birth_date: $json.birth_date, personal_number: $json.personal_number, snils: $json.snils}, steps: [$json.step1]}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4750,
        500
      ],
      "id": "oa-respond-phase1-0001",
      "name": "Ответ: Фаза 1 не пройдена"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT full_name, employee_number FROM appeal_employees WHERE full_name ILIKE $1 ESCAPE '\\'",
        "options": {
          "queryReplacement": "={{ [$json.fio_for_sql] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4750,
        200
      ],
      "id": "oa-db1-0001",
      "name": "БД №1: appeal_employees",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ФАЗА 2: Идентификация заявителя в реестре.\n// Возможные исходы:\n//   db_error        — Postgres недоступен (onError=continueRegularOutput)\n//   not_found       — ФИО нет в employees\n//   no_tab_number   — ФИО есть, employee_number = NULL\n//   ok              — ФИО + ТН есть → переходим к фазе 3\nconst items = $input.all();\nconst rows = items.map(item => item.json).filter(r => r && r.full_name);\nconst d = $('Фаза 1: проверка полей').first().json;\n\nlet step2 = { step: 2, name: 'Идентификация заявителя' };\nlet phase2_ok = false;\nlet employee_number = null;\n\n// Postgres-нода с onError=continueRegularOutput при отказе БД отдаёт item с .error без .full_name\nconst dbError = items.length > 0 && items[0].json && items[0].json.error;\nif (dbError) {\n  step2.status = 'not_found';\n  step2.message = 'Ошибка БД: сервис временно недоступен. Повторите запрос позже.';\n  return [{ json: { phase2_ok: false, step2, employee_number, fio: d.fio, fio_for_sql: d.fio_for_sql, birth_date: d.birth_date, personal_number: d.personal_number, snils: d.snils, step1: d.step1 } }];\n}\n\nif (rows.length === 0) {\n  step2.status = 'not_found';\n  step2.message = 'Заявитель не идентифицирован, нужно предоставить дополнительные данные';\n} else {\n  // Берём первую найденную строку (UNIQUE на full_name)\n  const row = rows[0];\n  if (!row.employee_number || row.employee_number === null) {\n    step2.status = 'not_done';\n    step2.message = 'Сведений о заявителе недостаточно для идентификации, нужно сделать запрос';\n  } else {\n    step2.status = 'ok';\n    step2.message = 'Заявитель идентифицирован';\n    employee_number = row.employee_number;\n    phase2_ok = true;\n  }\n}\n\nreturn [{ json: {\n  phase2_ok: phase2_ok,\n  step2: step2,\n  employee_number: employee_number,\n  fio: d.fio,\n  fio_for_sql: d.fio_for_sql,\n  birth_date: d.birth_date,\n  personal_number: d.personal_number,\n  snils: d.snils,\n  step1: d.step1\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5030,
        200
      ],
      "id": "oa-phase2-0001",
      "name": "Фаза 2: классификация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-phase2-ok",
              "leftValue": "={{ $json.phase2_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5310,
        200
      ],
      "id": "oa-phase2-if-0001",
      "name": "Фаза 2 OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.step2.message, extracted: {fio: $json.fio, birth_date: $json.birth_date, personal_number: $json.personal_number, snils: $json.snils, employee_number: $json.employee_number}, steps: [$json.step1, $json.step2]}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5310,
        400
      ],
      "id": "oa-respond-phase2-0001",
      "name": "Ответ: Фаза 2 не пройдена"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT full_name, is_done FROM appeal_event1 WHERE full_name ILIKE $1 ESCAPE '\\'",
        "options": {
          "queryReplacement": "={{ [$json.fio_for_sql] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5590,
        200
      ],
      "id": "oa-db2-0001",
      "name": "БД №2: appeal_event1",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ФАЗА 3: Проверка Мероприятия №1.\nconst items = $input.all();\nconst rows = items.map(item => item.json).filter(r => r && r.full_name);\nconst d = $('Фаза 2: классификация').first().json;\n\nlet step3 = { step: 3, name: 'Мероприятие №1' };\nlet phase3_ok = false;\n\n// БД-ошибка (см. Фаза 2)\nconst dbError = items.length > 0 && items[0].json && items[0].json.error;\nif (dbError) {\n  step3.status = 'not_found';\n  step3.message = 'Ошибка БД: сервис временно недоступен. Повторите запрос позже.';\n  return [{ json: { phase3_ok: false, step3, employee_number: d.employee_number, fio: d.fio, fio_for_sql: d.fio_for_sql, birth_date: d.birth_date, personal_number: d.personal_number, snils: d.snils, step1: d.step1, step2: d.step2 } }];\n}\n\nif (rows.length === 0) {\n  step3.status = 'not_found';\n  step3.message = 'Сведения по данному заявителю отсутствуют';\n} else {\n  const anyDone = rows.some(r => r.is_done === true);\n  if (anyDone) {\n    step3.status = 'ok';\n    step3.message = 'Мероприятие №1 для заявителя выполнено';\n    phase3_ok = true;\n  } else {\n    step3.status = 'not_done';\n    step3.message = 'Для данного заявителя мероприятие №1 не выполнено';\n  }\n}\n\nreturn [{ json: {\n  phase3_ok: phase3_ok,\n  step3: step3,\n  employee_number: d.employee_number,\n  fio: d.fio,\n  fio_for_sql: d.fio_for_sql,\n  birth_date: d.birth_date,\n  personal_number: d.personal_number,\n  snils: d.snils,\n  step1: d.step1,\n  step2: d.step2\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5870,
        200
      ],
      "id": "oa-phase3-0001",
      "name": "Фаза 3: классификация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-phase3-ok",
              "leftValue": "={{ $json.phase3_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6150,
        200
      ],
      "id": "oa-phase3-if-0001",
      "name": "Фаза 3 OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.step3.message, extracted: {fio: $json.fio, birth_date: $json.birth_date, personal_number: $json.personal_number, snils: $json.snils, employee_number: $json.employee_number}, steps: [$json.step1, $json.step2, $json.step3]}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6150,
        400
      ],
      "id": "oa-respond-phase3-0001",
      "name": "Ответ: Фаза 3 не пройдена"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT full_name, is_done FROM appeal_event2 WHERE full_name ILIKE $1 ESCAPE '\\'",
        "options": {
          "queryReplacement": "={{ [$json.fio_for_sql] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6430,
        200
      ],
      "id": "oa-db3-0001",
      "name": "БД №3: appeal_event2",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ФАЗА 4: Проверка Мероприятия №2 (финальная).\nconst items = $input.all();\nconst rows = items.map(item => item.json).filter(r => r && r.full_name);\nconst d = $('Фаза 3: классификация').first().json;\n\nlet step4 = { step: 4, name: 'Мероприятие №2' };\n\n// БД-ошибка (см. Фаза 2)\nconst dbError = items.length > 0 && items[0].json && items[0].json.error;\nif (dbError) {\n  step4.status = 'not_found';\n  step4.message = 'Ошибка БД: сервис временно недоступен. Повторите запрос позже.';\n  return [{ json: { step4, employee_number: d.employee_number, fio: d.fio, birth_date: d.birth_date, personal_number: d.personal_number, snils: d.snils, step1: d.step1, step2: d.step2, step3: d.step3 } }];\n}\n\nif (rows.length === 0) {\n  step4.status = 'not_found';\n  step4.message = 'Сведения по данному заявителю отсутствуют';\n} else {\n  const anyDone = rows.some(r => r.is_done === true);\n  if (anyDone) {\n    step4.status = 'ok';\n    step4.message = 'Для данного заявителя все мероприятия пройдены успешно';\n  } else {\n    step4.status = 'not_done';\n    step4.message = 'Данному заявителю необходимо обратиться за помощью';\n  }\n}\n\nreturn [{ json: {\n  step4: step4,\n  employee_number: d.employee_number,\n  fio: d.fio,\n  birth_date: d.birth_date,\n  personal_number: d.personal_number,\n  snils: d.snils,\n  step1: d.step1,\n  step2: d.step2,\n  step3: d.step3\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6710,
        200
      ],
      "id": "oa-phase4-0001",
      "name": "Фаза 4: классификация"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: $json.step4.message, extracted: {fio: $json.fio, birth_date: $json.birth_date, personal_number: $json.personal_number, snils: $json.snils, employee_number: $json.employee_number}, steps: [$json.step1, $json.step2, $json.step3, $json.step4]}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6990,
        200
      ],
      "id": "oa-final-respond-0001",
      "name": "Финальный ответ"
    },
    {
      "parameters": {
        "jsCode": "// === SSO Phase 3: token presence check ===\n// Token может быть в body (JSON request) ИЛИ form-data (file upload).\n// Для form-data n8n кладёт поля в корень $json (не в .body).\nconst item = $input.first();\nconst j = item && item.json ? item.json : {};\nconst body = j.body || j;\nconst token = String((body && body.token) || j.token || '').trim();\nif (!token) {\n  return [{ json: { __auth_required: true } }];\n}\n// Прокидываем все исходные поля + binary data дальше (binary не теряется\n// автоматически при возврате json — n8n сохраняет binary поле item.binary\n// если мы возвращаем СОДЕРЖИМОЕ $json, но не если возвращаем новый объект.\n// Используем item.binary в выходе явно.\nreturn [{ json: { ...j, token: token, __auth_ok: true }, binary: item.binary || {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "id": "org-appeal-sso-auth-check-V1__SSO_AUTH_CHECK_V1",
      "name": "SSO: Auth check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-sso-auth-ok",
              "leftValue": "={{ !!$json.__auth_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        750,
        300
      ],
      "id": "org-appeal-sso-auth-ok-V1",
      "name": "SSO: Auth OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({response: 'unauthorized', auth_required: true}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        750,
        500
      ],
      "id": "org-appeal-sso-auth-resp-V1",
      "name": "SSO: Ответ auth_required"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE auth_sessions SET last_used_at = NOW()\n  WHERE token = $1 AND expires_at > NOW()\n  RETURNING user_id\n)\nSELECT user_id FROM upd;",
        "options": {
          "queryReplacement": "={{ [$json.token] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        300
      ],
      "id": "org-appeal-sso-sql-verify-V1",
      "name": "SQL: Verify token",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item && item.json ? item.json : null;\nconst src = $('SSO: Auth check').first().json;\nconst srcItem = $('SSO: Auth check').first();\nif (data && data.error) {\n  return [{ json: { token_valid: false, response: 'error', error: 'database_unavailable' } }];\n}\nif (!data || !data.user_id) {\n  return [{ json: { token_valid: false, response: 'error', error: 'unauthorized', auth_required: true } }];\n}\nreturn [{ json: { ...src, token_valid: true, user_id: data.user_id }, binary: (srcItem && srcItem.binary) || {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        300
      ],
      "id": "org-appeal-sso-token-result-V1",
      "name": "Token result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-org-appeal-token-ok",
              "leftValue": "={{ $json.token_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        300
      ],
      "id": "org-appeal-sso-token-if-V1",
      "name": "Token OK?"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook OrgAppeal": {
      "main": [
        [
          {
            "node": "Ping?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping?": {
      "main": [
        [
          {
            "node": "Ответ: pong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSO: Auth check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Источник: текст?": {
      "main": [
        [
          {
            "node": "Текст из body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Валидация файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст из body": {
      "main": [
        [
          {
            "node": "Текст найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация файла": {
      "main": [
        [
          {
            "node": "Файл валиден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Файл валиден?": {
      "main": [
        [
          {
            "node": "OCR (text extraction)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR (text extraction)": {
      "main": [
        [
          {
            "node": "Извлечь текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь текст": {
      "main": [
        [
          {
            "node": "Текст найден?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст найден?": {
      "main": [
        [
          {
            "node": "LLM извлечь данные",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: OCR не распознал",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM извлечь данные": {
      "main": [
        [
          {
            "node": "Парсинг данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг данных": {
      "main": [
        [
          {
            "node": "Данные извлечены?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные извлечены?": {
      "main": [
        [
          {
            "node": "Фаза 1: проверка полей",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: данные не извлечены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 1: проверка полей": {
      "main": [
        [
          {
            "node": "Фаза 1 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 1 OK?": {
      "main": [
        [
          {
            "node": "БД №1: appeal_employees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: Фаза 1 не пройдена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД №1: appeal_employees": {
      "main": [
        [
          {
            "node": "Фаза 2: классификация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 2: классификация": {
      "main": [
        [
          {
            "node": "Фаза 2 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 2 OK?": {
      "main": [
        [
          {
            "node": "БД №2: appeal_event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: Фаза 2 не пройдена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД №2: appeal_event1": {
      "main": [
        [
          {
            "node": "Фаза 3: классификация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 3: классификация": {
      "main": [
        [
          {
            "node": "Фаза 3 OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 3 OK?": {
      "main": [
        [
          {
            "node": "БД №3: appeal_event2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: Фаза 3 не пройдена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД №3: appeal_event2": {
      "main": [
        [
          {
            "node": "Фаза 4: классификация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фаза 4: классификация": {
      "main": [
        [
          {
            "node": "Финальный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSO: Auth check": {
      "main": [
        [
          {
            "node": "SSO: Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSO: Auth OK?": {
      "main": [
        [
          {
            "node": "SQL: Verify token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSO: Ответ auth_required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Verify token": {
      "main": [
        [
          {
            "node": "Token result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token result": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Источник: текст?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSO: Ответ auth_required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 70
  },
  "versionId": "org-appeal-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad16de428774283a74f2bef15a9b31f771c3828cae096d3c33aab7bd18058813"
  },
  "id": "organization-appeal-001",
  "tags": []
}
