Workflow/sessions-sync.json
{
  "name": "Sessions Sync. Поток",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sessions-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "sessions-sync-webhook-0001",
      "name": "Webhook Sessions Sync",
      "webhookId": "sessions-sync-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Универсальный sessions sync для всех агентов.\n// Body: { action, token, agent, session_id?, name?, sort_order? }\n//   action  = 'list' | 'upsert' | 'delete'\n//   agent   =  'chat' | 'sql' | 'rag' | 'math' | 'prompt' | 'plane' | ...\nconst body = $input.first().json.body || {};\nconst action = String(body.action || 'list').trim();\nif (!['list','upsert','delete'].includes(action)) {\n  return [{ json: { valid: 0, error: 'Неизвестный action' } }];\n}\nconst token = String(body.token || '').trim();\nif (!/^[a-f0-9]{64}$/.test(token)) {\n  return [{ json: { valid: 0, error: 'unauthorized', auth_required: true } }];\n}\nconst agent = String(body.agent || '').trim().toLowerCase();\nif (!agent || !/^[a-z0-9_-]{1,32}$/.test(agent)) {\n  return [{ json: { valid: 0, error: 'agent обязателен (1-32 alphanum)' } }];\n}\nconst out = { valid: 1, action, token, agent };\nif (action === 'upsert' || action === 'delete') {\n  const sid = String(body.session_id || '').trim();\n  if (!sid || !/^[a-zA-Z0-9_-]{1,128}$/.test(sid)) {\n    return [{ json: { valid: 0, error: 'session_id обязательно (alphanum_-, max 128)' } }];\n  }\n  out.session_id = sid;\n  if (action === 'upsert') {\n    const name = String(body.name || '').trim().slice(0, 200);\n    if (!name) return [{ json: { valid: 0, error: 'name обязательно' } }];\n    out.name = name;\n    const so = parseInt(body.sort_order, 10);\n    out.sort_order = Number.isInteger(so) ? so : 0;\n  }\n}\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "sessions-sync-validate-0002",
      "name": "Валидация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ],
      "id": "sessions-sync-if-valid-0003",
      "name": "Валидно?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE auth_sessions SET last_used_at = NOW()\n  WHERE token = $1 AND expires_at > NOW()\n  RETURNING user_id\n)\nSELECT user_id FROM upd;",
        "options": {
          "queryReplacement": "={{ [$json.token] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        300
      ],
      "id": "sessions-sync-verify-sql-0004",
      "name": "SQL: Verify token",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item && item.json ? item.json : null;\nconst src = $('Валидация').first().json;\n// PostgreSQL сбой: data может быть null или содержать .error поле — НЕ\n// помечаем как unauthorized, иначе юзер видит ложный auth_required редирект.\nif (data && data.error) {\n  return [{ json: { token_valid: false, response: 'error', error: 'database_unavailable' } }];\n}\nif (!data || !data.user_id) {\n  return [{ json: { token_valid: false, response: 'error', error: 'unauthorized', auth_required: true } }];\n}\nreturn [{ json: { ...src, token_valid: true, user_id: data.user_id } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "sessions-sync-token-result-0005",
      "name": "Token result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.token_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        300
      ],
      "id": "sessions-sync-if-token-ok-0006",
      "name": "Token OK?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upserted AS (\n  INSERT INTO agent_sessions (user_id, agent, session_id, name, sort_order)\n  SELECT $2::integer, $3::varchar, $4::varchar, $5::text, COALESCE($6::integer, 0)\n  WHERE $1 = 'upsert' AND COALESCE($4, '') != ''\n  ON CONFLICT (user_id, agent, session_id)\n  DO UPDATE SET\n    name = EXCLUDED.name,\n    sort_order = COALESCE(NULLIF(EXCLUDED.sort_order, 0), agent_sessions.sort_order),\n    updated_at = NOW()\n  WHERE agent_sessions.deleted_at IS NULL\n  RETURNING session_id, name, sort_order, updated_at\n),\ndeleted AS (\n  UPDATE agent_sessions SET deleted_at = NOW()\n  WHERE $1 = 'delete' AND user_id = $2::integer AND agent = $3::varchar AND session_id = $4::varchar AND deleted_at IS NULL\n  RETURNING session_id\n),\nexisting AS (\n  SELECT session_id, name, sort_order, updated_at\n  FROM agent_sessions\n  WHERE user_id = $2::integer AND agent = $3::varchar AND deleted_at IS NULL\n)\nSELECT session_id, name, sort_order, EXTRACT(EPOCH FROM updated_at)::bigint AS updated_ts\nFROM (\n  SELECT session_id, name, sort_order, updated_at FROM existing\n  WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.session_id = existing.session_id)\n    AND NOT EXISTS (SELECT 1 FROM upserted u WHERE u.session_id = existing.session_id)\n  UNION ALL\n  SELECT session_id, name, sort_order, updated_at FROM upserted\n) combined\nORDER BY sort_order, updated_at",
        "options": {
          "queryReplacement": "={{ [$json.action, $json.user_id, $json.agent, $json.session_id || '', $json.name || '', $json.sort_order ?? 0] }}"
        },
        "alwaysOutputData": true
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        200
      ],
      "id": "sessions-sync-sql-op-0007",
      "name": "SQL: sessions op",
      "credentials": {
        "postgres": {
          "id": "OYsyciMf7Eq9W4FS",
          "name": "Postgres"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => (i && i.json) || {});\nconst first = items[0] || {};\nif (first.error) {\n  return [{ json: { response: 'error', error: String(first.error.message || first.error) } }];\n}\nconst sessions = items\n  .filter(i => i && i.session_id)\n  .map(i => ({\n    session_id: i.session_id,\n    name: i.name,\n    sort_order: i.sort_order,\n    updated_ts: i.updated_ts\n  }));\nreturn [{ json: { response: 'ok', sessions } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        200
      ],
      "id": "sessions-sync-format-0008",
      "name": "Формат"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2240,
        200
      ],
      "id": "sessions-sync-resp-ok-0009",
      "name": "Ответ: OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: 'error', error: $json.error || 'Ошибка', auth_required: $json.auth_required || false }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1680,
        500
      ],
      "id": "sessions-sync-resp-err-0010",
      "name": "Ответ: ошибка"
    }
  ],
  "connections": {
    "Webhook Sessions Sync": {
      "main": [
        [
          {
            "node": "Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидация": {
      "main": [
        [
          {
            "node": "Валидно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидно?": {
      "main": [
        [
          {
            "node": "SQL: Verify token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Verify token": {
      "main": [
        [
          {
            "node": "Token result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token result": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "SQL: sessions op",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ: ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: sessions op": {
      "main": [
        [
          {
            "node": "Формат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формат": {
      "main": [
        [
          {
            "node": "Ответ: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sessions-sync-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sessions-sync-workflow",
  "tags": []
}